* {
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.8;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.hero-wrap a, span, p{
  color: white;
}

a:hover {
  text-decoration: none;
}
/* header start leyla yazdi */

.sosialMedia > a {
  border: 1px solid #e6e6e6;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 4px;
}
.logoHome:hover{
  text-decoration: none;
  color: black;
}

.sosialMedia > a:hover{
  text-decoration: none;
}

.sosialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoHome,
span {
  color: #000000;
  font-weight: 800;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 30px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  padding: 50px 21px 29px 8px;
}

.navBar,
.navRow {
  background: #00043c;
}

.navSearch button {
  background-color: white;
}

.navUl {
  display: flex;
  margin: 0;
}

.navItem {
  background-color: #00043c;
  padding: 15px;
  display: flex;
}

.navItem > a {
  padding: 13px 16px;
  color: white;
  text-decoration: none;
}
.navItem > a:hover {
  text-decoration: none;
  color: black;
  background-color: #fdbe34;
}
.navItem:hover {
  background-color: #fdbe34;
}

.active {
  background-color: #fdbe34;
}

.active > a {
  color: black;
}

.navSearch {
  height: 46px;
  width: 240px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-right: 22px;
  overflow: hidden;
  border-radius: 5px;
}

.navInput {
  height: 46px !important;
  background: #fff !important;
  color: #000000 !important;
  font-size: 14px;
  display: block;
  border: none;
  outline: none;
  padding: 25px 15px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.nacSearch .navInput {
  width: calc(100% - 46px);
  border: none;
}

.navRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header end */

/* About us section start */

.buildingUrl {
  background-image: url(https://preview.colorlib.com/theme/homebuilder/images/bg_3.jpg.webp);
  position: relative;
  height: 400px;
  background-size: cover;
  filter: brightness(50%);
  background-position: center center;
}

.overlay .hero-wrap {
  position: absolute;
  background: #000000;
}

.textBuilding {
  position: absolute;
  height: 382px;
  left: 25%;
  line-height: 1px;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
}

.textBuilding a {
  font-size: 16px;
  text-decoration: none;
  margin-right: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.textBuilding > span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.textBuilding a:hover {
  text-decoration: none;
  color: #fdbe34;
}

.aboutUs {
  font-size: 74px;
  font-weight: 700;
  margin-right: 25px;
}

/* About us section end */

.containerVideo {
  display: flex;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  gap: 20px;
}

.left-section {
  flex: 1;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(https://preview.colorlib.com/theme/homebuilder/images/about.jpg.webp);
}

.left-section .play-video {
  position: absolute;
  top: 47%;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: #fdbe34;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-section .play-video:hover {
  background: #ffdb8d;
  transition: background 0.3s ease-in-out;
}

.left-section .play-video i {
  color: white;
  font-size: 22px;
}
.left-section img {
  width: 100%;
  height: 505px;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
}

.right-section {
  flex: 1;
  padding: 40px;
}

.right-section h2 {
  color: #ff9900;
  font-size: 24px;
  margin-bottom: 10px;
}

.right-section h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.right-section p {
  font-size: 16px;
  color: #888;
  margin-bottom: 30px;
}

.right-section h2 {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #fdbe34;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  gap: 15px;
}

.tab {
  flex: 1;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  cursor: default;
}

.tab:hover {
  background-color: #fdbe34;
  color: white;
  transition: background 0.3s ease-in-out;
}

.tab.active {
  background-color: #fdbe34;
  border: none;
  color: white;
  transition: background 0.3s ease-in-out;
}
.tab.active:hover {
  background-color: #fdbe34;
  color: white;
  transition: background 0.3s ease-in-out;
}

.content-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.content-box p {
  font-size: 16px;
  color: #666;
}

.video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stats-section {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
}

.left-column,
.right-column {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 30px;
}

.left-column {
  background-color: #f5f5f5;
  padding-left: 130px;
}

.right-column {
  background: #fdbe34;
  padding-right: 225px;
  display: flex;
  gap: 69px;
}

.stat {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 200px;
  text-align: left;
  margin-top: 30px;
}

.stat strong {
  line-height: 1;
  font-weight: 800;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.8);
}

.stat h1 {
  font-size: 50px;
  font-weight: 800;
  color: #333;
}

.stat span {
  font-size: 20px;
  color: #333;
  font-weight: 800;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.grid-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  cursor: pointer;
  filter: brightness(50%);
  transition: transform 0.7s;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}
.overlay {
  color: white;
  position: absolute;
  top: 80%;
  left: 0%;
  padding: 15px 10px;
}

.overlay p {
  font-size: 12px;
  line-height: 1.5em;
}

.overlay strong {
  font-size: 16px;
  font-weight: bold;
}

.imageTrak {
  background-image: url(https://preview.colorlib.com/theme/homebuilder/images/work-1.jpg.webp);
}

.yellowSection {
  background: #fdbe34;
  color: gray;
  padding-bottom: 90px;
}

.yellowText span {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 700;
}

.yellowText > h2 {
  font-size: 40px;
  font-weight: 700;
  color: black;
}

.yellowText {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 73px;
  margin-top: 96px;
}

.allMens {
  display: block;
  position: relative;
  background: white;
  padding: 26px 20px 22px 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
}

.mensCont {
  display: flex;
  gap: 30px;
}

.workJob > p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  color: #000000;
}

.workJob > span {
  font-size: 14px;
  color: #333333;
  font-weight: 200;
}

.quote {
  position: absolute;
  top: -20px;
  left: 20px;
  justify-content: center;
  width: 40px;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  background: #fdbe34;
}

.dot {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.end {
  padding: 7em 0;
  color: gray;
}

.end > h5 {
  font-weight: 700;
}

.endText {
  display: flex;
  gap: 80px;
  font-size: 18px;
}

.endFormText {
  background: #fdbe34;
  margin-top: 90px;
  padding: 38px 0 38px 0;
  border-radius: 4px;
  margin-bottom: 70px;
}

.submitBtn {
  color: #fff !important;
  background: #fcad02 !important;
  border-radius: 0px 5px 5px 0px;
  padding: 5px 30px;
  font-weight: 400;
  line-height: 1.5;
  border: none;
}

.mailInput {
  background: white !important;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 16px;
  width: 100%;
  padding: 13px 12px 13px 14px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 5px;
}

.endFormCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.textInput {
  display: flex;
}

/* footer start */

.footer {
  padding: 0;
  position: relative;
  height: 448px;
  overflow: hidden;
  background: #252525;
}

.footer h2{
  font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #fff;
}

.footer a, span, p{
  font-size: 16px;
  font-weight: 500 important!;
} 

.footer a:hover{
  text-decoration: none;
  color: gray;
}

.footerSosial{
  display: flex;
    gap: 15px;
}

.footerSosialItem a{
  height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}

.thirdFooter{
  display: flex;
  gap: 120px;
  margin-bottom: 50px;
  justify-content: center;
}

.thirdList{
  display: flex;
  gap: 70px;
  width: 590px;
  margin-top: 27px;
  justify-content: center;
}


.footerFormDiv input, textarea{
  background: white !important;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 16px;
  width: 300px;
  padding: 10px 8px 10px 14px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 5px;
}

.footerForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerSend{
  font-size: 14px;
    background: #fdbe34;
    border-radius: 5px;
    width: 300px;
    padding: 12px 8px 12px 14px;
    border: none;
    padding: 5px 30px;
}

.listUnstyled li,a{
font-weight: bold;
}

.listUnstyled{
  line-height: 2;
}

.formColor{
  background-color: #333333;
  padding: 27px 45px 0px 45px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}



/* footer end */
